@page
@model FoodTinderWeb.Pages.Explorer

<div class="text-center">
    <h2 class="display-6">Explorer recipes tailored to your preferences</h2>
    
    @if (Model.recipes.recipes.Any())
    {
        <ul class="list-group">
            @foreach (var recipe in Model.recipes.recipes)
            {
                <li class="list-group-item">
                    <img src="@recipe.Image"/>
                    <p>
                        @recipe.Title
                    </p> <br/>
                    @foreach (var instruction in recipe.analyzedInstructions)
                    {
                        foreach (var step in instruction.Steps)
                        {
                            <p>@step.step</p>
                        }
                    }
                </li>
            }
        </ul>
    }
    else
    {
        <p>No recipes to show right now</p>
    }
</div>