@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>On Food Tinder you can:</p>
    <ul class="list-group">
        <li class="list-group-item">Find recipes you might like</li>
        <li class="list-group-item">Connect with friends</li>
        <li class="list-group-item">Find out which recipes you have in common</li>
    </ul>
</div>
